framework:
    messenger:
        transports:
            order_timeout:
                dsn: 'redis://redis:6379/order_timeout'
                options:
                    auto_setup: true
            mtf_projection:
                dsn: 'redis://redis:6379/mtf_projection'
                options:
                    auto_setup: true
            mtf_decision:
                dsn: 'redis://redis:6379/mtf_decision'
                options:
                    auto_setup: true
            failed_order_timeout:
                dsn: 'doctrine://default?table_name=messenger_messages_failed'
                options:
                    auto_setup: true
                retry_strategy:
                    max_retries: 3
                    delay: 5000 # 5 seconds
                    multiplier: 2.0
                    max_delay: 60000
        failure_transport: failed_order_timeout
        routing:
            App\TradeEntry\Message\CancelOrderMessage: order_timeout
            App\TradeEntry\Message\LimitFillWatchMessage: order_timeout
            App\MtfValidator\Message\MtfResultProjectionMessage: mtf_projection
            App\Indicator\Message\IndicatorSnapshotProjectionMessage: mtf_projection
            App\Indicator\Message\IndicatorSnapshotPersistRequestMessage: mtf_projection
            App\MtfValidator\Message\MtfTradingDecisionMessage: mtf_decision
