<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutResourceUsageDuringSmallTests="true"
         failOnWarning="true"
         failOnRisky="true">
    <testsuites>
        <testsuite name="Trading App Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>

